<!DOCTYPE html>
<html lang="en">
<head>
    <!--Usefull Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- BootStrap CDN -->
    <!-- Note: Yeah CDN cuz' I dont really like put it directly in the app for simple reason... I dunno how it's works, so if you know, do not hesitate to create a pull request :)
         Note 2: I'm Still learning -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/app.css">
    <!-- skldfjlksdfjksd ? -->
    <title>{{{ title }}}</title>
    <!-- Twitter meta -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@SiriusFM" />
    <meta name="twitter:creator" content="@CloudsdaleGroup" />
    <meta property="og:url" content="https://radio.siriushd.net" />
    <meta property="og:title" content="Sirius Radio" />
    <meta property="og:description" content="Listen to more than 150Gb of music all stored in my computer. there is music I love, music I hate... Enjoy :)"/>
    <meta property="og:image" content="https://i.imgur.com/pRRiO88.png" />
    <!-- SEO thing can put this website on top og GOOGLE!!!!! -->
    <meta name="description" content="Listen to more than 150Gb of music all stored in my computer. there is music I love, music I hate... Enjoy :)">
    <meta name="author" content="Cloudsdale Group">
    <meta name="keyword" content="Sirius, radio, web, azuracast, API, Developement, Cloudsdale, Group, Arnaques, EDM, Web Radio, web, electro, dubstep, multigenre, swing, electroswing">
</head>
<body>
    <!-- NAV SHIT -->


    <!-- Here comes the template -->
    <img class="mx-auto d-block" src="https://i.imgur.com/pRRiO88.png" width="50%">
    <p>&nbsp;</p>
    <div class="txtbg">
    {{{ body }}}
    </div>

    
    <!-- Custom JS -->
    <script src="/javascripts/azura.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</body>
</html>