
<h1 class="text-center">Welcome!</h1>
<div class="container">
    <div class="row">
        <div class="d-inline col-sm-7 col-sm-offset-2 player">
            <iframe src="https://broadcaster2.cloudsdaleradio.com/public/sirius_radio/embed" frameborder="0" allowtransparency="false" style="width: 70%; min-height: 100%; border: 1; position:relative; top: 40px; left: 20px;" scrolling="no"></iframe>
        </div>
        <div class="col-md-offset-2 col-sm-5 button" style="position: relative;top:26px;">
            <h5> Hey! Listen! Cool Music!</h5>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary">Popup</button>
                <button type="button" class="btn btn-secondary">File</button>
                <button type="button" class="btn btn-secondary">Relay</button>
            </div>
        </div>
    </div>
</div>